<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Form</h1>
      <form action="" method = "post">
        Input Text:<br>
        <input type="text" name="text" placeholder="your text">
        <br>
        <input type="submit" value="Submit">
      </form>
<h1><%= text %></h1>
  </body>
</html>
