<!DOCTYPE html>
<html>
  <head>
    <title><%= parameter %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Daniel Agus</h2>
    <p>Welcome to <%= parameter %></p>
    <p><%= alert %></p>
    <h3><a href="./results">Daftar</a></h3>
  </body>
</html>
