<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Selamat Datang, <%= fullname %></h1>
    <h1><%= username %></h1>
    <a href="/tests">Klik disini untuk testing app</a>
  </body>
</html>
