<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1><%= title %></h1>
      <h3></h3>
      <img src="http://the-mni.com/wp-content/uploads/2016/01/NEW1.jpg"/>
    </center>
  </body>
</html>
