<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <form class="" action="/users" method="post">
      <input type="text" name="say" value="" placeholder=" isi disini">
      <input type="submit" name="" value="Rubah kata">
    </form>

    <p>hasil: <%= name %> </p>
  </body>
</html>
