<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= answer %>
    <form action="/users" method="post">
      <input type="text" name="result">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
