<!DOCTYPE html>
<html>
  <head>
    <title>Users Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <p>How do you say it ? <%= params.say %></p>
    <form class="" action="/users" method="get">
      <input type="text" name="say" value="">
      <input type="submit">
    </form>
  </body>
</html>
