<html>
<head>
    <title></title>
</head>
<body>
  <h1>Input data User</h1>
  <h3><a href="./">Home</a></h3>
  <form action="/results" method="POST">
    <label>Firtname :
      <input type="text" name="firstname" value="">
    </label>
    <label> Lastname :
      <input type="text" name="lastname" value="">
    </label>
    <button>
      <input type="submit" name="submit" value="Submit">
    </button>
  </form>
</body>
</html>
