<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Say something: " <%= say.message %> "</p>
    <code>use in the URL: http://localhost:3000/users?message=(text) </code>
  </body>
</html>
