<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!-- <p>User : <%=param1%></p> -->
    <p>User : <%=param1%></p>
    
    <form action="/users" method="post">
      Input : <input name="say" value="">
      <input type="submit"> <br/><br/>
      Output : <%=param%>
    </form>
    

    
  </body>
</html>