<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>converting words : </h1>
    <p><% for(let i=0; i<answer.length; i++){ %>
      <%= answer[i] %><br>
      <% } %>
    </p>
  </body>
</html>
